.btn {
    height: 3.5rem;
    width: 12rem;
    border-radius: 2rem;
    //border: 1.5px solid var(--color-secondary);
    border: 1.2px solid var(--color-tertiary-light);
    // background-color: transparent;
    background-color: var(--color-tertiary-light);
    // color: var(--color-tertiary-light);
    color: var(--color-white);
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    // padding-top: .6rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    cursor: pointer;

    transition: all .3s;

    &:hover {
        transform: translateY(-2px);   
        background-color: var(--color-tertiary-light);
        color: var(--color-white);
        box-shadow: var(--shadow-button);
                        
    }

    &:active {
        transform: translateY(2px);   
                        
    }

    @media only screen and (max-width: $bp-largest) {
        height: 3.5rem;
        width: 10rem;
        font-size: 1.4rem;
        
    }

    @media only screen and (max-width: $bp-large) {
        height: 3.5rem;
        width: 8rem;
        font-size: 1.3rem;

    }

    @media only screen and (max-width: $bp-medium) {
        height: 3.5rem;
        width: 8rem;
        

    }

}

i {
    font-size: 4rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 2.0rem;

    }
    
}

#card-nohover {
    transform: translateY(0);
}
.card {
    // display: inline-block;
    // height: 30rem;
    // width: 36rem;
    display: flex;
    flex-direction: column;

    background-color:var(--color-white);
    border: none;
    border-radius: 3px;
    box-shadow: var(--shadow-medium);
    font-size: 1.2rem;
    font-weight: 100;
    // padding: 1rem;
    margin: 2rem;
    transition: all .2s;

    &__hover {
        &:hover {
            transform: translateY(-0.1rem);
            box-shadow: var(--shadow-dark);

        }

        &:active {
            transform: translateY(0);
            box-shadow: var(--shadow-medium);
        }
    }


    &__picture {
        height: 20rem;
        background-color: var(--color-secondary);
        position: relative;  //using relative positioning so that overlay is absolute to card__picture div

        &-overlay {
            position: absolute;  //taking overlay out of flow;
            width: 100%;  //overlapping 100% of width of parent element
            height: 100%;  //overlapping 100% of height of parent element
            background-image: linear-gradient(to right bottom,var(--color-white),var(--color-white));
            opacity: 0.2;

        }

        &-img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

    }
    
    
    &__title {
        height: 5rem;
        background-color: var(--color-white);
        padding: 1rem;
        font-size: 1.8rem;
        font-weight: 300;

        &-detail {
            font-size: 2.4rem;

        }
    }

    &__description {
        // height: 10rem;
        height: minmax(10rem, min-content);
        background-color: var(--color-white);
        padding: 1rem;
        font-size: 1.3rem;
        font-weight: 100;

    }

    &__recipe {
        height: min-content;
        background-color: var(--color-white);
        padding: 1rem;
        font-size: 1.3rem;
        font-weight: 100;

    }

    &__header {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    &__bottom {
        //to push bottom div to bottom of card; setting to grid and margin-top auto
        display: grid;
        margin-top: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,auto);
        // justify-content: center;
        justify-items: center;
        align-items: center;
        
        height: 8rem;
        background-color: var(--color-grey-light-2);
        padding: 0.2rem;

        &-detail {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            height: 12rem;
            justify-items: center;
            align-items: center;

            a {
                text-decoration: none;
                color: var(--color-white);
            }

            // grid-template-rows: repeat(2,auto);
        }

        &-header {
            align-self: end;
            font-size: 1.4rem;

            transition: all .2s;


            &:hover {
                color: var(--color-secondary);
            }
        }

        &-btn {
            border: none;
            padding-top: 0.1rem;
            width: 4rem;
            height: 4rem;
            background-color: inherit;
            
        }

        &-svg {

            transition: all .2s;
            stroke: var(--color-grey-dark-2);
            fill:none;
            font-size: 3.2rem;  //multiple of 8 for ion icons (32px,48px,etc)

            &:hover {
                stroke: var(--color-tertiary-light);
                transform: translateY(-1px)
            }

            &:active {
                transform: translateY(1px);
                fill: var(--color-red-1);
            }
        }
    }
}


.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }

  #sortlist {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #sortlist li {
    cursor: move;
    padding: 0;
    margin: 0;

    // &:hover{
    //     transition: all .2s;
    //     border: 2px dashed #20bf6b;
    //     // transform: scale(103%);
    // }
  }

  #sortlist li.hint {
    background: #fea;
    border: 3px dashed red;
  }

  #sortlist li.active {
    background: #ffd4d4;
    border: 3px dashed red;
  }

