.container {
    background-color: var(--color-grey-light-1);
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: auto 1fr 10rem;
    grid-template-columns: 1fr;
    column-gap: 0.5rem;

    // @media only screen and (max-width: $bp-medium) {
    //     grid-template-rows: repeat(5, max-content);
                
    // }
}



.navbar {
    // background-color: var(--color-grey-light-4);
    // background-color: var(--color-grey-light-5);

    background-color: var(--color-white);
    color: var(--color-red-3);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
    
    justify-content: center;
    align-content: center;
    // align-items: center;

    a {
        text-decoration: none;
        color: var(--color-red-3);

    }

    &__prato {
        // display: grid;
        display: flex;
        justify-items: start;
        align-items: center;
        justify-content: flex-start;
        padding-left: 4rem;
        grid-column: 1/2;

        &__link {
            text-decoration: none;
            color: inherit;
        }

        &__h1 {
            font-size: 2.5rem;
            font-weight: 100;
            text-transform: uppercase;

        }

        &__svg {
            height: 12rem;
            width: 12rem;
            // fill: var(--color-tertiary-light);
            fill: var(--color-red-2);
        }
    }

    // &__hero {
    //     display: grid;
    //     justify-items: center;
    //     grid-column: 2/3;

    // }
    

    &__link {
        grid-column: 2/4;

        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding-right: 2rem;
        // box-sizing: border-box;
        // margin-top: 1rem;
        // margin-right: 1rem;

        &__item {
            margin-right: 1rem;
            color: var(--color-grey-dark-2);
            font-size: 1.5rem;
            // font-weight: 100;
            text-decoration: none;
            padding: 1rem;
            //background-color: transparent;

            &-img {
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 50%;
                margin-right: 1rem;
            }

            &:hover { 
                transition: color .4s;
                color: var(--color-tertiary-dark);
                border-bottom: 1px solid var(--color-tertiary-dark);
                transform: translateY(1px);   //offset initial upward movement (default)


            }
        }
        
    }
}

.navbar__plate {
    height: 10rem;
    width: 10rem;
    display: inline-block;
    
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-grey-light-3);
}

.week {
    // display: flex;
    // flex-direction: center;
    // align-items: center;
    margin-top: 2rem;
}

.footer {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background-color: var(--color-grey-light-3);


    &__logo {
        grid-column: 1/2;
        display: flex;
        align-items: center;
        padding-left: 4rem;
    }

    &__copyright {
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 100;
        padding-right: 4rem;
        
    }

    &__svg {
        height: 6rem;
        width: 6rem;
        fill: var(--color-tertiary-light);
    }
}

.form {
    background-color: var(--color-white);
    box-shadow: var(--shadow-medium);
    // border: 0.5rem solid gray;
    border-radius: 3px;
    font-size: 1.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 2rem;

    
    &__signup {
        height: 56rem;        
    }

    &__update {
        height: 46rem;
        z-index: 0;

        &__deleteAccount, &__password {
            margin-top: 1.5rem;
            color: var(--color-red-2);
            font-size: 1.5rem;
            font-weight: 400;
            border: none;
            background-color: var(--color-white);
            padding: 1rem;
            border-radius: 2px;
            text-decoration: none;

            &:hover{
                transition: all 0.2s;
                transform: translateY(-1px);
                color: var(--color-white);
                background-color: var(--color-red-2);
                box-shadow: var(--shadow-dark);

            }

            &:active {
                transform: translateY(0px);
                box-shadow: var(--shadow-medium);
            }
            
        }        
    }
    
    &__login {
        height: 38rem;
        
    }

    &__createPlate {
        height: 82rem;
        width: 66rem;
        z-index: 0;
    }
    
    &__header {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 200;
    }

    &__input {
        background-color: var(--color-grey-light-3);
        width: 30rem;
        height: 4rem;
        border: none;
        border-radius: 2px;
        margin-bottom: 2rem;
        margin-top: 1rem;
        padding-left: 1.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--color-tertiary-light);

        &__wide {
            width: 60rem;

        }

        
        &::placeholder {
            color: var(--color-grey-dark-2);
            font-size: 0.7rem;
            letter-spacing: 0.2rem;
        }

        &__textarea {
            height: 20rem;
            width: 60rem;
            padding: 1.4rem;
            font-family: inherit;
            font-size: 1.4rem;
            font-weight: 400;


        }
        
        &__email {
            &::placeholder {
                font-size: 1.4rem;
                letter-spacing: normal;
            }
        }

        &__placeholder {
            &::placeholder {
                font-size: 1.4rem;
                font-weight: 100;
                letter-spacing: normal;


            }
        }
    }

    &__label {
        font-size: 1.5rem;
        font-weight: 400;
        
        &:first-child {
            display: inline-block;
            margin-top: 4rem;
        }

    }
}

.plates {
    // width: 80%;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: flex-start;

    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    justify-content: center;
    

    &__cards {
        display: grid;
        justify-content: center;
        //grid-template-columns: repeat(auto-fit, minmax(36rem,1fr));
        //grid-template-columns: repeat(auto-fit, minmax(36rem,40rem));
        grid-template-columns: repeat(auto-fit, 36rem);
        grid-auto-rows: 46rem;
        column-gap: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 6rem;

        &-detail {
            display: grid;
            grid-template-columns: repeat(auto-fit, 60rem);
            justify-content: center;
            margin-top: 4rem;
            margin-bottom: 6rem;
        }

    }

    &__add {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        // margin-top: 8rem;
        font-size: 2.5rem;
        font-weight: 300;
        color: var(--color-tertiary-dark);
        
        &-text {
            margin-top: 6rem;
            margin-bottom: 2rem;
        }

        &-btn {
            width: 12rem;
        }

        &-week {
            margin-top: 8rem;
        }
    }

}

.landing {
    display: grid;
    grid-template-rows: 40rem 20rem;
    grid-template-columns: repeat(3,33.3%);
    // column-gap: 0.5rem;
    margin-top: 0;
    margin-bottom: 5rem;
    // background-color: var(--color-grey-light-3);
    background-color: transparent;

    &__text {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        
        // text-align: center;
        font-size: 3.5rem;
        font-weight: 100;

        padding: 6rem;
    }
    
    &__pic {
        grid-row: 1 / 2;
        grid-column: 2 / 4;

        position: relative;
        

        &-img {
            object-fit: cover;
            height: 100%;
            width: 100%;

            // border-radius: 30%;
            

        }

        &-overlay {
            position: absolute;  //taking overlay out of flow;
            width: 100%;  //overlapping 100% of width of parent element
            height: 100%;  //overlapping 100% of height of parent element
            background-image: linear-gradient(to right bottom,var(--color-white),var(--color-white));
            opacity: 0.2;

        }

    }

    &__smbox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.8rem;
    }

    &__signup {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        // background-color: var(--color-grey-light-3);
        box-shadow: var(--shadow-light);
        
        &:hover {
            // box-shadow: var(--shadow-dark);
            box-shadow: var(--shadow-medium);
    
        }

    }
   
    &__upload {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        // border:1px solid var(--color-grey-light-4);
        box-shadow: var(--shadow-light);
        
        &:hover {
            // box-shadow: var(--shadow-dark);
            box-shadow: var(--shadow-medium);
        }
        
    }
    

    &__organize {
        grid-row: 2 / 3;
        grid-column: 3 / -1;
        // border:1px solid var(--color-grey-light-4);
        box-shadow: var(--shadow-light);
        
        &:hover {
            // box-shadow: var(--shadow-dark);
            box-shadow: var(--shadow-medium);
        }
        
    }

    &__ionicon {
        stroke: var(--color-tertiary-light);
        // stroke: var(--color-red-1);
        color: var(--color-tertiary-light);
        // color: var(--color-red-1);
        

        font-size: 3.2rem;  //specify as multiple of 8px

    }

}

.form__upload {
    // width: 0.1px;
    // height: 0.1px;
    // opacity: 0;
    // overflow: hidden;
    // position: absolute;
    // z-index: -1;

    &__label {
     
        color: var(--color-tertiary-light);
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid var(--color-tertiary-light);
        padding: 3px !important;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            background-color: var(--color-tertiary-light);
            color: #fff;
            -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
            -webkit-transform: translateY(-2px);
            transform: translateY(-2px);

        }

        &:active {
            transform: translateY(2px); 
        }
    }
  }

  .row {
      display: grid;
      grid-template-rows: min-content repeat(3,5rem);
      grid-template-columns: 20rem 50rem 15rem;

      margin-top: 1rem;
      padding: 1rem;
      box-shadow: var(--shadow-medium);
      font-size: 2rem;
    //   transition: all 0.3s;

    &:hover{
        transition: all .2s;
        outline: 2px dashed #20bf6b;
        // transform: scale(103%);
    }

      
      &__pic {
            grid-row: 1 / -1;
            grid-column: 1 / 2;
        //   border: 1px solid red;
            overflow: hidden;
      }
      
      &__day {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            padding: 1rem;
            font-size: 3rem;
            color: var(--color-tertiary-light);
            background-color: var(--color-grey-light-2);



        //   border: 1px solid blue;
      }

      &__title {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            padding: 1rem;
            font-size: 2rem;
            background-color: var(--color-grey-light-2);
            
            // color: var(--color-tertiary-light);

        //   border: 1px solid blue;
      }

      &__description {
            grid-row: 3 / 5;
            grid-column: 2 / 3;
            padding: 1rem;
            font-size: 1.5rem;
            background-color: var(--color-grey-light-2);


        // border: 1px solid yellowgreen;
      }

      &__btn {
        grid-row: 1 / -1;
        grid-column: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 1rem;
        background-color: var(--color-grey-light-2);


        // border: 1px solid turquoise;
      }
  }

  .uploadbtn-wrap {
      position: relative;
  }

  input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 54px;
    font-size: 12px;
    color: var(--color-tertiary-light);
  }

  .upload-button {
    display: inline-block;
    padding: .8rem 1.2rem; 
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.2rem;
    // background-color: var(--color-tertiary-light);
    // color: #fff;

    background-color: var(--color-white);
    color: var(--color-tertiary-light);
    border-bottom: 2px solid var(--color-tertiary-light);

    &:hover {
        transition: all .4s;
        background-color: var(--color-tertiary-light);
        color: var(--color-white);

    }  
    
    &:active {
        transition: all .1s;
        transform: translateY(1px);

    }
    
}

//error page rendering
.main_error {
    background-color: #f7f7f7;
    padding: 8rem 6rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.error {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80rem;
    text-align: center;
  }

  .error__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .error__emoji {
    font-size: 3.75rem;
    margin-left: 1rem;
  }

  .error__msg {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 50rem;
    margin: 0 auto;
  }

  .heading-secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#7dd56f),
      to(#28b487)
    );
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
  }
  .heading-secondary--error {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ff7730),
      to(#eb4d4b)
    );
    background-image: linear-gradient(to right, #ff7730, #eb4d4b);
    font-size: 3.0rem;
  }


  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.span__textformat {
    font-size: 1.3rem;
    font-weight: 100;
    font-family: Montserrat;
}

  