<div class="form form__createPlate">
    <h3>Create a plate!</h3>
    <form action="#" class="form__createPlate-addPlate">
        <label for="plateName" class="form__label">Plate name</label><br>
        <input type="text" name="name" class="form__input form__input__placeholder" id="plateName" placeholder="Glazed Duck Fillet"><br>
        <label for="description" class="form__label">Description</label><br>
        <input type="text" name="description" class="form__input form__input__placeholder" id="description" placeholder="Glazed duck fillet, mashed potatoes seasoned with truffle oil, fig and aniseed sauce" ><br>
        <label for="photo">Choose new photo</label><br>
        <input type="file" accept="image/*" name="photo" id="photo"><br>
        <!-- <label for="image" class="form__label">Plate Image</label><br> -->
        <!-- <input type="text" name="image" class="form__input" id="image"><br> -->
        <input type="submit" class="btn" value="Add Plate">
    </form>
</div>