<div class="landing">
    <div class="landing__text">
        <p>Organize &<br> select your meals.<br><br>Plan your<br>week.</p>
          
    </div>
    <div class="landing__pic">
        <div class="landing__pic-overlay"></div>    
        <img src="../../public/img/plate1.jpg" class="landing__pic-img" alt="plate of food">
    </div>
    <div class="landing__smbox landing__signup">
        <p>Step 1:</p>
        <ion-icon class="landing__ionicon" src="../../public/img/person-add-outline.svg"></ion-icon>
        <p>Create an account</p>
    </div>
    <div class="landing__smbox landing__upload">
        <p>Step 2:</p>
        <ion-icon class="landing__ionicon" src="../../public/img/cloud-upload-outline.svg"></ion-icon>
        <p>Upload Your Meals</p>
    </div>
    <div class="landing__smbox landing__organize">
        <p>Step 3:</p>
        <ion-icon class="landing__ionicon" src="../../public/img/calendar-outline.svg"></ion-icon>
        <p>Select & Plan Your Week</p>
    </div>
</div>