<div class="landing">
    <div class="landing__text landing__text-grid">
        <p class="landing__text-p">Organize &<br> select your plates.<br><br>Plan your<br>week.</p>
          
    </div>
    <div class="landing__pic landing__pic-grid">
        <div class="landing__pic-overlay"></div>    
        <img src="../../public/img/plate1.jpg" class="landing__pic-img" alt="plate of food">
    </div>
    <div class="landing__smbox landing__signup">
        <p>Step 1:</p>
        <ion-icon class="landing__ionicon" src="../../public/img/person-add-outline.svg"></ion-icon>
        <p>Create an account</p>
    </div>
    <div class="landing__smbox landing__upload">
        <p>Step 2:</p>
        <ion-icon class="landing__ionicon" src="../../public/img/cloud-upload-outline.svg"></ion-icon>
        <p>Add Your Plates</p>
    </div>
    <div class="landing__smbox landing__organize">
        <p>Step 3:</p>
        <ion-icon class="landing__ionicon" src="../../public/img/calendar-outline.svg"></ion-icon>
        <!-- <ion-icon class="landing__ionicon" name="calendar-outline"></ion-icon> -->
        <p>Plan Your Week</p>
    </div>
    <div class="landing__text landing__text-2">
        <p class="landing__text-p">Discover Prato</p>
        <span style="color: #ccc">
            <i class="fas fa-video"></i>
        </span>
        <span style="font-size: 2rem;"><p>Watch our demo and get started today! </p></span>
          
    </div>
    <div class="landing__pic landing__pic-2">
        <!-- <video width="780" height="585" controls> -->
        <video controls> 
            <source src="../../public/img/prato.mp4" type="video/mp4">
        </video>
    </div>
</div>