<div class="navbar__prato">
    <a href="/" class="navbar__prato__link"><h1 class="navbar__prato__h1">Prato</h1></a>
</div>
<div class="navbar__hero">
    <ion-icon class="navbar__hero__svg" src="../../public/img/plate1.svg"></ion-icon>
</div>
<div class="navbar__link">
    <a href="/login" class="navbar__link__item btn">LOG IN</a>
    <a href="/signup" class="navbar__link__item btn">SIGN UP</a>
    <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
</div>