<div class="navbar__prato">
    <ion-icon class="navbar__prato__svg" src="../../public/img/plate1.svg"></ion-icon>
    <a href="/" class="navbar__prato__link"><h1 class="navbar__prato__h1">Prato</h1></a>
</div>
<!-- <div class="navbar__hero"> -->
    <!-- <ion-icon class="navbar__hero__svg" src="../../public/img/plate1.svg"></ion-icon> -->
<!-- </div> -->
<div class="navbar__link">
    <%if(locals.user){%>
        <a href="/plates" class="navbar__link__item">MY PLATES</a>
        <a href="/week" class="navbar__link__item">MY WEEK</a>
        <a href="/create" class="navbar__link__item">ADD PLATE</a>
        <a href="/logout" class="navbar__link__item navbar__link-logout">LOG OUT</a>
        <a href="/me"><img class="navbar__link__item-img" src='/public/img/users/<%=user.photo%>' alt=""></a>
        <%=locals.user.name.split(" ")[0]%>

    <%}else{%>
        <a href="/login" class="navbar__link__item">LOG IN</a>
        <a href="/signup" class="navbar__link__item">SIGN UP</a>
    <%}%>
    <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
</div>