<div class="form form__signup">
    <h3>Create your account!</h3>
    <form action="#" class="form__login-signup">
        <label for="name" class="form__label">Your name</label><br>
        <input type="text" name="name" class="form__input" id="name" required><br>
        <label for="email" class="form__label">Email address</label><br>
        <input type="email" name="email" class="form__input form__input__email" id="email" placeholder="you@example.com" required><br>
        <label for="password" class="form__label">Password</label><br>
        <input type="password" name="password" class="form__input form__input__password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679" required><br>
        <label for="password_confirm" class="form__label">Confirm password</label><br>
        <input type="password" name="password_confirm" class="form__input form__input__password" id="passwordConfirm" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679" required><br>
        <input type="submit" class="btn" value="SIGN UP">
    </form>
</div>