<div class="form form__update">
    <h3>Update your account:</h3>
    <form action="#" class="form__login-update">
        <input type="hidden" id="user_id" value= '<%=user._id %>' >
        <label for="name" class="form__label">Your name</label><br>
        <input type="text" name="name" class="form__input" id="name" value="<%=user.name%>" required><br>
        <label for="email" class="form__label">Email address</label><br>
        <input type="email" name="email" class="form__input form__input__email" id="email" value="<%=user.email%>" required><br>
        <label for="photo" class="form__upload__label">Choose new photo</label>
        <input type="file" accept="image/*" class="form__upload" name="photo" id="photo" ><br>
        <input type="submit" class="btn" value="UPDATE">
    </form>

    <a href="/updatePassword" class="form__upload__label">Update Password</a>

</div>