<div class="form form__createPlate">
    <h3>Update your plate:</h3>
    <form action="#" class="form__createPlate-updatePlate">
        <input type="hidden" id="plate_id" value= '<%= plate._id %>' >
        <label for="plateName" class="form__label">Plate name</label><br>
        <input type="text" name="name" class="form__input form__input__wide form__input__placeholder" id="plateName" placeholder="Glazed Duck Fillet" value="<%=plate.name%>"><br>
        <label for="description" class="form__label">Description (max 270 chars.)</label><br>
        <textarea name="description" id="description"  class="form__input form__input__textarea form__input__placeholder"  ><%=plate.description%></textarea><br>
        <label for="recipe" class="form__label">Recipe</label><br>
        <textarea name="recipe" id="recipe"  class="form__input form__input__textarea form__input__placeholder" ><%=plate.recipe%></textarea><br>
        <div class="uploadbtn-wrap">
            <label for="photo" class="upload-button">Choose new photo</label>
            <input type="file" accept="image/*" name="photo" id="photo" >
        </div>
        <input type="submit" class="btn updatePlateBtn" value="Update Plate">
    </form>
</div>