<div class="form form__update">
    <h3>Update your password:</h3>
    <form action="#" class="form__login-password">
        <input type="hidden" id="user_id" value= '<%=user._id %>' >
        <label for="currentPassword" class="form__label">Current Password</label><br>
        <input type="password" name="currentPassword" class="form__input" id="currentPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679"  required><br>
        <label for="newPassword" class="form__label">New Password</label><br>
        <input type="password" name="newPassword" class="form__input" id="newPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679"  required><br>
        <label for="password_confirm" class="form__label">Confirm password</label><br>
        <input type="password" name="password_confirm" class="form__input form__input__password" id="passwordConfirm" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679" required><br>
        <input type="submit" class="btn" value="UPDATE">
    </form>
</div>