<div class="form">
    <h2 class="form__h2">Log Into Your Account</h2>
    <form action="#">
        <label for="email" class="form__label">Email address</label><br>
        <input type="text" name="email" class="form__input form__input__email" placeholder="you@example.com"><br>
        <label for="password" class="form__label">Password</label><br>
        <input type="password" name="password" class="form__input form__input__password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679"><br>
        <input type="submit" class="btn" value="LOGIN">
    </form>
</div>