<div class="plates">
    <div class="plates__cards">

        <% for (var i=0; i<5; i++) { %>
            <div class="card">
                <div class="card__img">
                    Plate Image Here
                </div>
                <div class="card__title">
                    Plate Title Here
                </div>
                <div class="card__description">
                    Plate Description
                </div>
                <div class="card__bottom">
                    Plate Add Button
                </div>
            </div>
       <% } %>
    </div>
</div>  