<%- include('./partials/_head.ejs') %>
<body>
    <div class="container" id="top">
        <div class="nav">
            <%- include('./partials/_navbar.ejs') %>
        </div>
        <div class="main">
            <%- include('./partials/_plateDetail.ejs')  %>
        </div>
        <footer class="footer">
            <%- include('./partials/_footer.ejs') %>
        </footer>
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/public/js/bundle.js"></script>
    <!-- <script src="/reload/reload.js"></script>; -->
</body>
</html>