<%- include('./partials/_head.ejs') %>
<body>
    <div class="container" id="top">
        <nav class="navbar" id="topnav">
            <%- include('./partials/_navbar.ejs') %>
        </nav>
        <div class="main">
            <%- include('./partials/_login.ejs') %>
        </div>
        <footer class="footer">
            <%- include('./partials/_footer.ejs') %>
        </footer>
    </div>
    <script>
        // responsive navbar
        function myFunction() {
            var x = document.getElementById("topnav");
            console.log(x)
            if (x.className === "navbar") {
                x.className += "__responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/public/js/bundle.js"></script>
    <!-- <script src="/reload/reload.js"></script>; -->
</body>
</html>