:root {
  --color-tertiary: #EF946C;
  --color-tertiary-light: #F6BD60;
  --color-tertiary-dark: #F4A522;
  --color-red-1: #971C0C;
  --color-red-2: #71160A;
  --color-red-3: #5E1208;
  --color-grey-light-1: #f6f6f6;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f7f7f7;
  --color-grey-light-4: #ccc;
  --color-grey-light-5: #dbd7d7;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #ffffff;
  --color-black: #000000;
  --shadow-extra-dark: 0px 10px 50px #555;
  --shadow-button: 0 1rem 2rem rgba(0,0,0,.15);
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-medium: 0 2rem 6rem rgba(0,0,0,.1);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 5px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-primary-dark);
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

h3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-tertiary-dark); }
  @media only screen and (max-width: 56.25em) {
    h3 {
      font-size: 1.0rem; } }

.btn {
  height: 3.5rem;
  width: 12rem;
  border-radius: 2rem;
  border: 1.2px solid var(--color-tertiary-light);
  background-color: var(--color-tertiary-light);
  color: var(--color-white);
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: all .3s; }
  .btn:hover {
    transform: translateY(-2px);
    background-color: var(--color-tertiary-light);
    color: var(--color-white);
    box-shadow: var(--shadow-button); }
  .btn:active {
    transform: translateY(2px); }
  @media only screen and (max-width: 75em) {
    .btn {
      height: 3.5rem;
      width: 10rem;
      font-size: 1.4rem; } }
  @media only screen and (max-width: 68.75em) {
    .btn {
      height: 3.5rem;
      width: 8rem;
      font-size: 1.3rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn {
      height: 3.5rem;
      width: 8rem; } }

i {
  font-size: 4rem; }
  @media only screen and (max-width: 56.25em) {
    i {
      font-size: 2.0rem; } }

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border: none;
  border-radius: 3px;
  box-shadow: var(--shadow-medium);
  font-size: 1.2rem;
  font-weight: 100;
  margin: 2rem; }
  .card__picture {
    height: 20rem;
    background-color: var(--color-secondary);
    position: relative; }
    .card__picture-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right bottom, var(--color-white), var(--color-white));
      opacity: 0.3; }
    .card__picture-img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .card__title {
    height: 5rem;
    background-color: var(--color-white);
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 300; }
  .card__description {
    height: 10rem;
    background-color: var(--color-white);
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 100; }
  .card__bottom {
    display: grid;
    margin-top: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    height: 8rem;
    background-color: var(--color-grey-light-2);
    padding: 0.2rem; }
    .card__bottom-header {
      align-self: end;
      font-size: 1.4rem;
      transition: all .2s; }
      .card__bottom-header:hover {
        color: var(--color-secondary); }
    .card__bottom-btn {
      border: none;
      padding-top: 0.1rem;
      width: 4rem;
      height: 4rem;
      background-color: inherit; }
    .card__bottom-svg {
      transition: all .2s;
      stroke: var(--color-grey-dark-2);
      fill: none; }
      .card__bottom-svg:hover {
        stroke: var(--color-tertiary-light);
        transform: translateY(-1px); }
      .card__bottom-svg:active {
        transform: translateY(1px);
        fill: var(--color-red-1); }

.container {
  background-color: var(--color-grey-light-1);
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr 10rem;
  grid-template-columns: 1fr;
  column-gap: 0.5rem; }

.navbar {
  background-color: var(--color-grey-light-4);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center; }
  .navbar a {
    text-decoration: none; }
  .navbar__prato {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-column: 2/3;
    padding-left: 4rem;
    grid-column: 1/2; }
    .navbar__prato__link {
      text-decoration: none;
      color: inherit; }
    .navbar__prato__h1 {
      font-size: 2.5rem;
      font-weight: 100;
      text-transform: uppercase; }
      .navbar__prato__h1:hover {
        color: var(--color-tertiary-light);
        transition: all .3s; }
  .navbar__hero {
    display: grid;
    justify-items: center;
    grid-column: 2/3; }
    .navbar__hero__svg {
      height: 12rem;
      width: 12rem;
      fill: var(--color-tertiary-light); }
  .navbar__link {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 1rem; }
    .navbar__link__item {
      margin-right: 2rem;
      color: var(--color-grey-dark-2);
      font-size: 1.5rem;
      font-weight: 100;
      text-decoration: none;
      padding: 1rem; }
      .navbar__link__item:hover {
        transition: color .4s;
        color: var(--color-tertiary-dark);
        font-weight: 400;
        border-bottom: 1px solid var(--color-tertiary-dark);
        transform: translateY(1px); }

.navbar__plate {
  height: 10rem;
  width: 10rem;
  display: inline-block; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color-grey-light-3); }

.footer {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  background-color: var(--color-grey-light-3); }
  .footer__logo {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    padding-left: 4rem; }
  .footer__copyright {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 100;
    padding-right: 4rem; }
  .footer__svg {
    height: 6rem;
    width: 6rem;
    fill: var(--color-tertiary-light); }

.form {
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
  border-radius: 3px;
  font-size: 1.5rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 2rem; }
  .form__signup {
    height: 52rem; }
  .form__login {
    height: 34rem; }
  .form__createPlate {
    height: 42rem; }
  .form__header {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 200; }
  .form__input {
    background-color: var(--color-grey-light-3);
    width: 30rem;
    height: 4rem;
    border: none;
    border-radius: 2px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-left: 1.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-tertiary-light); }
    .form__input::placeholder {
      color: var(--color-grey-dark-2);
      font-size: 0.7rem;
      letter-spacing: 0.2rem; }
    .form__input__email::placeholder {
      font-size: 1.4rem;
      letter-spacing: normal; }
    .form__input__placeholder::placeholder {
      font-size: 1.4rem;
      font-weight: 100;
      letter-spacing: normal; }
  .form__label {
    font-size: 1.5rem;
    font-weight: 400; }
    .form__label:first-child {
      display: inline-block;
      margin-top: 4rem; }

.plates {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  justify-content: center; }
  .plates__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 36rem);
    grid-auto-rows: 46rem;
    column-gap: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 6rem; }
  .plates__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--color-tertiary-dark); }
    .plates__add-text {
      margin-bottom: 2rem; }
    .plates__add-btn {
      width: 12rem; }

.landing {
  display: grid;
  grid-template-rows: 40rem 20rem;
  grid-template-columns: repeat(3, 33.3%);
  margin-top: 0;
  margin-bottom: 5rem;
  background-color: transparent; }
  .landing__text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 100;
    padding: 6rem; }
  .landing__pic {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    position: relative; }
    .landing__pic-img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
    .landing__pic-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right bottom, var(--color-white), var(--color-white));
      opacity: 0.3; }
  .landing__smbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8rem; }
  .landing__signup {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    box-shadow: var(--shadow-light); }
    .landing__signup:hover {
      box-shadow: var(--shadow-medium); }
  .landing__upload {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    box-shadow: var(--shadow-light); }
    .landing__upload:hover {
      box-shadow: var(--shadow-medium); }
  .landing__organize {
    grid-row: 2 / 3;
    grid-column: 3 / -1;
    box-shadow: var(--shadow-light); }
    .landing__organize:hover {
      box-shadow: var(--shadow-medium); }
  .landing__ionicon {
    stroke: var(--color-tertiary-light);
    color: var(--color-tertiary-light);
    font-size: 3.2rem; }
